@media screen and (max-width:480px) {
  div {
    float: none;
    clear: both;
  }
}
.beach {
  background-color: #ff4136;
}
.beach .frame {
  -webkit-transform: rotate(6deg);
  -moz-transform: rotate(6deg);
  -o-transform: rotate(6deg);
  -ms-transform: rotate(6deg);
  transform: rotate(6deg);
}
.beach .place {
  color: #ff4136;
}
.movies {
  background-color: #0074d9;
}
.movies .frame {
  -webkit-transform: rotate(6deg);
  -moz-transform: rotate(6deg);
  -o-transform: rotate(6deg);
  -ms-transform: rotate(6deg);
  transform: rotate(6deg);
}
.movies .place {
  color: #0074d9;
}
.snackshop {
  background-color: #ffdc00;
}
.snackshop .frame {
  -webkit-transform: rotate(-6deg);
  -moz-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
  -ms-transform: rotate(-6deg);
  transform: rotate(-6deg);
}
.snackshop .place {
  color: #ffdc00;
}
.park {
  background-color: #01ff70;
}
.park .frame {
  -webkit-transform: rotate(6deg);
  -moz-transform: rotate(6deg);
  -o-transform: rotate(6deg);
  -ms-transform: rotate(6deg);
  transform: rotate(6deg);
}
.park .place {
  color: #01ff70;
}
.gym {
  background-color: #f012be;
}
.gym .frame {
  -webkit-transform: rotate(-6deg);
  -moz-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
  -ms-transform: rotate(-6deg);
  transform: rotate(-6deg);
}
.gym .place {
  color: #f012be;
}
.mall {
  background-color: #ff851b;
}
.mall .frame {
  -webkit-transform: rotate(-6deg);
  -moz-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
  -ms-transform: rotate(-6deg);
  transform: rotate(-6deg);
}
.mall .place {
  color: #ff851b;
}
.boys {
  margin-left: auto;
  margin-right: auto;
  width: 900px;
}
.boy {
  width: 200px;
  height: 300px;
  margin: 10px;
  display: inline-block;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.boy .place {
  padding: 5px 0px 5px 0px;
  line-height: 24px;
  background-color: #000;
  text-align: center;
  width: 80%;
  margin: 5px auto 2px auto;
}
.boy .name {
  margin: 0px;
  position: absolute;
  bottom: 0px;
  left: 10px;
  color: #fff;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
}
.boy h3.number {
  margin: 0px;
  position: absolute;
  bottom: -25px;
  left: 10px;
}
.boy h3.number a {
  text-decoration: none;
  color: #000;
}
.boy .frame {
  margin-left: 22px;
}
.boy .avatar_frame {
  width: 150px;
  height: 200px;
  border: 1px solid #000;
  border: 3px solid #000;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.boy .avatar_frame .avatar {
  width: 100%;
  height: 100%;
}
@media screen and (max-width:900px) {
  .boys {
    width: 450px;
  }
}
@media screen and (device-aspect-ratio: 40/71) {
  h2 {
    font-size: 72px;
  }
  h3 {
    font-size: 48px;
  }
  .boys {
    width: 100%;
  }
  .boy {
    height: 700px;
    width: 48%;
    -webkit-border-radius: 24px;
    border-radius: 24px;
  }
  .boy .place {
    margin-bottom: 20px;
  }
  .boy .frame {
    height: 80%;
    margin-left: 60px;
  }
  .boy .avatar_frame {
    width: 80%;
    height: 95%;
  }
  .boy h3.number {
    margin: 0px;
    position: absolute;
    bottom: -35px;
  }
}


body {
  font-family: avenir, 'avenir next', helvetica, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #000 url("/images/splat.gif") repeat fixed center;
}
a {
  font-family: avenir, 'avenir next', helvetica, arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.header {
  margin: auto;
  text-align: center;
}
.header a {
  color: #d90057;
}
.masthead img.dream {
  padding-right: 30px;
}
.play {
  color: #fff;
}

.traits {
  display: block;
  position: relative;
  margin-top: 25px;
  margin-left: 25px;
  float: left;
}
.traits span {
  float: left;
}
.traits .pizza:before {
  content: '🍕';
}
.traits .icecream:before {
  content: '🍨';
}
.traits .cookies:before {
  content: '🍪';
}
.traits .popcorn:before {
  content: '🌽';
}
.traits .candy:before {
  content: '🍬';
}
.traits .hotdogs:before {
  display: block;
  width: 23px;
  height: 20px;
  background-size: 23px 20px;
  background-image: url("/images/hotdog.gif");
  content: ' ';
}
.traits .basketball:before {
  content: '🏀';
}
.traits .baseball:before {
  content: '⚾';
}
.traits .surfing:before {
  content: '🏄';
}
.traits .skateboard:before {
  display: block;
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  background-image: url("/images/skate.png");
  content: ' ';
}
.traits .tennis:before {
  content: '🎾';
}
.traits .volleyball:before {
  content: '⚪';
}
.traits .jeans:before {
  content: '👖';
}
.traits .glasses:before {
  content: '👓';
}
.traits .hat:before {
  content: '🎩';
}
.traits .yellow:before {
  content: '👘';
}
.traits .tie:before {
  content: '👔';
}
.traits .jacket:before {
  display: block;
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  background-image: url("/images/jacket.png");
  content: ' ';
}


/*# sourceMappingURL=app.css.map*/