@import 'nib'

body
  font-family: avenir, 'avenir next', helvetica, arial, sans-serif
  font-smoothing: antialiased
  background: #000000 url('/images/splat.gif') repeat fixed center; 

a
  font-family: avenir, 'avenir next', helvetica, arial, sans-serif
  font-smoothing: antialiased

.github
  position: absolute
  top: 0
  right: 0 
  border: 0