@import 'nib'

body
  font-family: avenir, 'avenir next', helvetica, arial, sans-serif
  font-smoothing: antialiased

a
  font-family: avenir, 'avenir next', helvetica, arial, sans-serif
  font-smoothing: antialiased