@import 'nib'

.header
  margin: auto
  text-align: center

  a
    color: #D90057

.masthead img.dream
  padding-right: 60px

.masthead img.senate
  position: absolute
  height: 150px
  width: 150px
  bottom: 125px
  right: 85px

.play
  color: white

