
.places
  .movies
    .boys
      .boy
        .name Spencer
        a.phone(href="")

      .boy
        .name Dan
      .boy
        .name Gary
      .boy
        .name Jamal

  .snackshop
    .boys
      .boy
        .name Phil
      .boy
        .name Bruce
      .boy
        .name James
      .boy
        .name Tyler

  .park
    .boys
      .boy
        .name Mark
      .boy
        .name Steve
      .boy
        .name Jason
      .boy
        .name John

  .gym
    .boys
      .boy
        .name Scott
      .boy
        .name Matt
      .boy
        .name Carlos
      .boy
        .name Bob

  .beach
    .boys
      .boy
        .name Paul
      .boy
        .name Mike
      .boy
        .name Wayne
      .boy
        .name Tony

  .all
    .boys
      .boy
        .name Dale
      .boy
        .name Alan
      .boy
        .name Dave
      .boy
        .name George